@media screen and (min-width: 768px) {
  .sm-devices {
    display: none;
  }
}
.lg-devices {
  visibility: hidden;
}
@media screen and (min-width: 768px) {
  .lg-devices {
    visibility: visible;
  }
}
.home-poster-title {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 600;
  line-height: 46.91px;
  color: #ffffff;
}

.home-poster-overview {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;

  color: #ffffff;
}
.heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
}
.home-poster-play-btn {
  /* padding: 10px 20px; */
  background: #ffffff;
  border-radius: 4px;
  width: 76px;
  height: 32px;

  outline: none;
  border: none;
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .home-poster-title {
    font-size: 64px;
    font-weight: 600;
    line-height: 62px;
  }
  .home-poster-overview {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
  }
  .home-poster-play-btn {
    width: 74px;
    height: 40px;
  }
}
.devices-container {
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 800px;
}
@media screen and (max-height: 768px) {
  .devices-container {
    min-height: 300px;
    height: 380px;
    max-height: 405px;
  }
}
.home-header-content {
  padding: 60px;
}

@media screen and (max-height: 768px) {
  .home-header-content {
    padding: 30px;
  }
}

.movie-details-name {
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 62px;
  color: #ffffff;
}

.movies-details-play-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  border: 0px;
  color: #171f46;
  font-weight: 600;
  background: #ffffff;
  border-radius: 4px;
}

.movie-details-description {
  margin-top: 5px;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
  width: 90%;
}

@media (max-width: 767px) {
  .movie-details-description {
    width: 90%;
    font-size: 12px;
    margin-top: 3px;
    line-height: 16px;
  }
  .movie-details-name {
    font-size: 18px;
    margin-bottom: 0px;
    line-height: 50px;
  }
  .movies-details-play-button {
    padding: 8px 8px;
    font-size: 8px;
  }
}
