.failed-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000000;
  padding: 30px;
  min-height: 100%;
}
.failed-image {
  width: 30px;
}
@media screen and (min-width: 768px) {
  .failed-image {
    width: 50px;
  }
}
.failed-heading {
  font-family: Roboto;
  font-size: 25px;
  color: #f1f5f9;
  text-align: center;
}
.failed-note {
  font-family: Roboto;
  font-size: 18px;
  color: #e2e8f0;
  text-align: center;
}
.retry-btn {
  border: none;
  background-color: #4f46e5;
  border-radius: 3px;
  color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Roboto;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
}
