.main-popular-bg-black-container {
  background-color: #131313;
}

.popular-result-container {
  padding: 10px;
  height: 100vh;
  height: 100%;
}

.popular-ul-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  list-style-type: none;
}
.popular-li-item {
  padding: 5px;
}
/* .popular-poster {
  height: 250px;
  width: 180px;
  border-radius: 8px;
} */
.popular-poster {
  height: 100px;
  width: 90px;
  border-radius: 8px;
}
@media screen and (min-width: 768px) {
  .popular-poster {
    height: 250px;
    width: 180px;
    border-radius: 8px;
  }
  .popular-li-item {
    padding: 10px;
  }
}
.explore-movies-here {
  color: #ffffff;
  padding-left: 30px;
  margin-bottom: 10px;
}
